@import '../../../styles/variables';

.wrapper {
  
}

.list_wrap {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  background-color: $baseColorWhite;
  padding: 25px 20px;
  border-radius: 7px;
  // box-shadow: 2px 5px 10px rgba(80, 80, 80, 0.16);
}

.list_name {
  font-size: 1.4rem;
  font-weight: bold;
  margin-left: 10px;
}

.edit_button {
  position: absolute;
  top: 8px;
  right: 3%;
  font-size: 1.4rem;
  padding: 5px 5px;
  color: $keyColorHeavy;
}