@import './variables.scss';

.form__wrapper {
  padding: 15px 5% 50px 5%;
  background-color: #fff;
}

.formItem {
  &__wrapper {
    margin-bottom: 25px;
  }

  &__label {
    display: block;
    font-size: 1.4rem;
    font-weight: bold;
    color: $fontColorBlack;
    margin-bottom: 10px;
  }

  &__input {
    width: 100%;
    background-color: #f8f8f4;
    border-radius: 7px;
    font-size: 1.4rem;
    padding: 14px 17px;
  }

  &__input:focus {
    border: 1px solid $keyColorMedium;
  }

  &__select_icon {
    margin-bottom: 10px;
  }

  &__error_message {
    color: $errorColorMedium;
    font-size: 1.3rem;
    margin-top: 5px;
    padding: 10px 17px;
    border-radius: 7px;
    background-color: $errorColorLight;
  }

  &__button_wrapper {
    text-align: center;
  }
}