
$fontColorBlack: #34322F;
$fontColorGray: #767676;
$baseColorWhite: #fff;
$baseColorGrayLight: #FCFCFC;
$baseColorGrayMedium: #EAEAEA;
$keyColorHeavy: #637265;
$keyColorMedium: #637265;
$keyColorLight: #f7fff8;
$unselectedColor: #a5a5a5;
$errorColorMedium: #EB5757;
$errorColorLight: #FFF5F5;