
$fontColorBlack: #2e2d2d;
$fontColorGray: #767676;
$baseColorWhite: #fff;
$baseColorGrayLight: #FCFCFC;
$baseColorGrayMedium: #EAEAEA;
$keyColorHeavy: #4472CA;
$keyColorMedium: #5E7CE2;
$keyColorLight: #92B4F4;
$unselectedColor: #888888;
$errorColorMedium: #EB5757;
$errorColorLight: #FFF5F5;