@import '../../../styles/variables';

.form_wrapper {
  width: 100%;
  position: fixed;
  bottom: 0;
  margin: 0 -5%;
  padding: 20px 5% 30px 5%;
  background-color: $baseColorWhite;
}

.input_memo {
  background-color: #f8f8f4;
  width: 90%;
  font-size: 1.6rem;
  resize: none;
  height: 40px;
  max-height: 200px;
  padding: 10px 10px;
  border-radius: 5px;
}

.submit {
  margin-left: 10px;
}

.icon {
  font-size: 1.8rem;
  color: $baseColorGrayMedium;
}

.allow {
  color: $keyColorHeavy;
}