@import '../../../styles/variables';

.wrapper {
  width: 100%;
  position: relative;
  background-color: $baseColorWhite;
  padding: 15px 20px;
  border-radius: 7px;
}

.list_wrap {
  display: flex;
  align-items: center;
  
}

.list_name {
  font-size: 1.4rem;
  font-weight: bold;
  margin-left: 10px;
}

.edit_button {
  position: absolute;
  top: 8px;
  right: 3%;
  font-size: 1.4rem;
  padding: 5px 5px;
  color: $keyColorHeavy;
}

.selectDate_wrapper {
  margin-top: 5px;
}